.character-card {
  min-height: 340px;
  background: black;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.character-card:hover {
  background: red;
}

.character-card img {
  width: 200px;
  height: auto;
}

.character-card span {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: comic;
}

.character-container {
  margin: 0 auto;
  position: relative;
  right: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: minmax(300px, auto);
      grid-template-rows: minmax(300px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  width: 90%;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-nav {
  position: relative;
  width: 80%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  width: 200px;
  height: 35px;
  font-size: 1.2rem;
}

.link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  width: 90%;
}

.link-list li {
  margin-right: 10px;
}

.link-nav {
  margin-top: 25px;
  height: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-solid {
  color: white;
  font-size: 2rem;
  z-index: 5;
  margin-left: 20px;
}

.view-container {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.char-img {
  width: 750px;
  height: 750px;
}

ul {
  color: red;
}

ul li {
  cursor: pointer;
  text-decoration: underline;
}

.view-container {
  background-color: black;
  width: 100%;
  color: white;
}

.view-container h1 {
  font-family: comic;
}

.view-container h3 {
  font-family: comic;
}

.href {
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .character-container {
    margin: 0 auto;
    position: relative;
    right: -50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: minmax(300px, auto);
        grid-template-rows: minmax(300px, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 426px) {
  .character-card {
    min-height: 190px;
    background: black;
    width: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
  }
  .character-card:hover {
    background: red;
  }
  .character-card img {
    width: 90px;
    height: auto;
  }
  .character-container {
    margin: 0 auto;
    position: relative;
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: minmax(300px, auto);
        grid-template-rows: minmax(300px, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    width: 90%;
  }
  .char-img {
    margin: 20px;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=Table.css.map */